/*============================================================================================*/
/* Generelt */
/*============================================================================================*/

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #f5f5f5;
}

html {
    scroll-behavior: smooth;
}

.mb-0 {
    margin-bottom: 0 !important;
}

/*============================================================================================*/
/* Fonts */
/*============================================================================================*/

@font-face {
    font-family: 'Golden Ranger';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/goldenranger.woff') format('woff');
}

/*============================================================================================*/
/* Typografi og links */
/*============================================================================================*/

p {
    color: #000000;
}

.text-center {
    text-align: center;
}

.button {
    padding: 12px 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
    border: none;
    background-color: #0a0a0a;
    display: block;
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
    filter: brightness(90%);
}

.button:hover {
    filter: brightness(100%);
}

.back_link {
    cursor: pointer;
}

.back_link a:before {
    content: '';
    height: 1px;
    background: #0a0a0a;
    width: 4em;
    display: block;
    position: absolute;
    height: 2px;
    top: 1.5em;
}

.back_link a:before {
    left: -8em;
}

.back_link a {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    width: 50px;
    display: block;
    white-space: nowrap;
    padding: 1em 0 1em 0;
    text-indent: -3em;
    word-spacing: 0em;
    text-decoration: none;
    position: relative;
    color: #0a0a0a;
    margin-left: 104px;
    margin-bottom: 20px;
}

.bg_white {
    background-color: #fff;
}

.extra_link {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

.heading {
    text-align: center;
    margin-bottom: 50px;
    padding: 25px;
}

.overskrift {
    text-transform: uppercase;
}

/*============================================================================================*/
/* Header, logo og navigation */
/*============================================================================================*/

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 100;
    background-color: transparent;
    height: 80px;
    padding: 20px 50px;
    padding-left: 20px;
}

#logo {
    float: left;
}

.logo_normal {
    margin-top: -5px;
    width: 110px;
}

.burger-logo {
    text-align: center;
    margin-left: 40px;
}

.burger-logo {
    display: block;
    background-image: url(../img/logo_dark.png);
    background-size: cover;
    z-index: 400;
    position: absolute;
    bottom: 40px;
    width: 150px;
    height: 75px;
}

.main-menu {
    position: relative;
    z-index: 1999;
    top: -5px;
    float: right;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.icon_submenu {
    display: none;
}

.main-menu ul,
.main-menu ul li {
    position: relative;
    margin: 0;
    padding: 0;
}

.main-menu ul a,
.main-menu ul li a {
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    padding: 10px;
}

.main-menu > ul > li > a {
    color: #fff;
    padding: 0 40px 10px 8px;
    font-size: 13.5px !important;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-decoration: none;
}

.main-menu > ul > li:hover > a {
    opacity: 0.8;
}

.main-menu button {
    background-color: #68A849;
    border: none;
}

.main-menu button a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 500;
}

#burger-menu {
    max-width: 400px;
}

#burger-menu.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.97);
    overflow-x: hidden;
    transition: 0.7s;
}

.overlay-content {
    position: relative;
    top: 20%;
    text-align: left;
    margin-top: 30px;
    list-style: none;
}

#burger-menu a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #000;
    display: block;
    padding: 8px;
}

.overlay a:hover {
    color: #0a0a0a;
}

#closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 45px;
    cursor: pointer;
    font-weight: 100;
}

#openbtn {
    color: #fff;
    position: absolute;
    top: 25px;
    left: 22px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 70;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    overflow-x: hidden;
    transition: 0.7s;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
}

header {
    background-color: transparent;
}

/*============================================================================================*/
/* Forside */
/*============================================================================================*/

.video-text .back_link a {
    color: #fff !important;
    margin-left: 110px;
    line-height: 20px;
}

.video-text .back_link a:before {
    background: #fff;

}

#splash {
    background-image: url(../img/front.jpg);
    background-size: cover;
    height: 700px;
}

.black-overlay {
    background-color: black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
}

#header-video {
    position: relative;
    overflow: hidden;
    background-color: lightgray;
    height: 700px;
    width: 100%;
}

#header-video video {
    width: 100%;
}

#videoBG {
    width: 100%;
    top: -200px;
}

#header-video h1,
#header-video h3 {
    color: #fff;
    line-height: 1;
    margin: 0;
}

#header-video p {
    font-size: 28px;
    display: block;
}

.video-text {
    position: relative;
    z-index: 99;
    margin-top: 250px;
    text-align: left;
    color: #fff;
    font-family: 'Montserrrat', sans-serif;
    text-transform: uppercase;
    padding: 25px;
}

.video-text h1 {
    font-family: 'Abel', sans-serif;
    font-weight: 300;
    font-size: 80px;
    margin-top: 15px;
    margin-bottom: 35px !important;
}

.video-text h3 {
    font-family: 'Abel', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 15px !important;
    letter-spacing: 1px;
}

.video-text span {
    font-family: 'Golden Ranger', cursive;
    text-transform: none;
    font-size: 125px;
    margin-left: 10px;
    font-weight: 100;
}

.video-text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

#header-video button {
    background-color: #f5f5f5;
    color: #000;
    cursor: pointer;
    border-radius: 0;
    margin-left: 5px;
}

video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#intro img {
    width: 100%;
}

#intro h3 {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

#intro h1 {
    font-family: 'Golden Ranger', cursive;
    text-transform: lowercase;
    font-weight: 200;
    font-size: 60px;
    margin-bottom: 15px;
    margin-left: 5px;
}

#intro p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}

#intro .row {
    display: block;
    padding: 25px;
}

#intro .column:first-child {
    margin-top: 20px;
}

#intro .column {
    margin-bottom: 35px;
}

#intro .back_link {
    margin-top: 20px;
}

#carousel {
    padding: 30px 0px;
    background: rgb(31, 31, 31);
    background: -moz-linear-gradient(0deg, rgba(31, 31, 31, 1) 0%, rgba(46, 46, 46, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(31, 31, 31, 1) 0%, rgba(46, 46, 46, 1) 100%);
    background: linear-gradient(0deg, rgba(31, 31, 31, 1) 0%, rgba(46, 46, 46, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f1f1f", endColorstr="#2e2e2e", GradientType=1);
    padding-bottom: 40px;
}

#carousel .row {
    display: block;
    padding-top: 0;
    color: #fff;
}

#carousel .product_info {
    text-align: center;
    padding: 35px;
}

#carousel h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 15px;
}

#carousel h1 {
    font-family: 'Golden Ranger', sans-serif;
    font-weight: 200;
    font-size: 60px;
    margin-bottom: 15px;
}

#carousel p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
}

#carousel .heading {
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0;
}

#carousel button {
    cursor: pointer;
}

.gallery_title {
    text-align: center;
    margin-top: 60px;
    text-transform: none;
    font-size: 16px;
    font-weight: 400;
}

.gallery_title h3 {
    display: block;
    font-size: 18px !important;
    font-weight: 700 !important;
    text-transform: none !important;
}

.gallery_title button {
    margin-top: 50px;
    display: inline-block;
    border-radius: 0;
    background-color: #f5f5f5;
    color: #000;
}

.gallery_title .back_link {
    text-align: center;
    margin-top: 20px;
    margin-left: -40px;
    display: inline-block;
}

.gallery_title .back_link a {
    color: #fff !important;
    margin-left: 110px;
    line-height: 20px;
    animation: pulse_slow 3s infinite;
    animation-timing-function: ease-in-out;
}

.gallery_title .back_link a::before {
    content: '';
    height: 1px;
    background: #fff;
    width: 4em;
    display: block;
    position: absolute;
    height: 2px;
    top: 1.7em;
}

.gallery_title p {
    display: block;
}

.gallery {
    background: #EEE;
}

.main-gallery {
    margin-top: -50px;
}

.gallery-cell {
    width: 66%;
    height: 400px;
    margin-right: 20px;
    counter-increment: gallery-cell;
}

.gallery-cell img {
    width: 100%;
    position: absolute;
    margin-top: -20px;
    opacity: 0.3;
}

.is-selected img {
    opacity: 1;
}

.gallery-cell img {
    width: 80%;
}

.gallery-cell {
    display: flex;
    justify-content: center;
    align-content: center;
}

#behindthescenes .row {
    display: block;
    padding: 25px;
}

#behindthescenes img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

#behindthescenes h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    margin-top: 25px;
}

#behindthescenes h1 {
    font-family: 'Golden Ranger', sans-serif;
    text-transform: none;
    font-size: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 100;
    text-transform: lowercase;
    margin-left: 5px;
}

#behindthescenes p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}

#product_info {
    background-color: #f5f5f5;
}

#product_info h3 {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 25px;
    letter-spacing: 1px;
    display: block;
}

#product_info .row {
    display: block;
    padding: 25px;
}

#product_info p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex h3 {
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 40px;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
}

.flex p {
    font-size: 14px;
    line-height: 25px;
}

.thin {
    font-weight: 400;
}

.golden_ranger {
    font-family: 'Golden Ranger', sans-serif;
    font-size: 50px;
    text-transform: lowercase;
    font-weight: 200;
}

.subheader_title {
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: -220px;
    margin-bottom: 140px;
    color: #fff;
    text-align: center;
    cursor: default;
}

.subheader_title h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 15px !important;
    letter-spacing: 1px;
}

/************************** SPEAKERMAP **************************/

#speaker_map_section {
    color: #000;
    padding: 30px 0;
}

.speaker_map_front {
    background-image: url("../img/speaker_front_550.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 700px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

.speaker_map_back {
    background-image: url("../img/speaker_back_550.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 700px;
    height: 600px;
    margin: 0 auto;

    position: relative;
}

#speaker_map_section h2 {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}

#speaker_map_section p {
    font-family: 'Montserrat', sans-serif;
}

.arrow_container {
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    width: 370px;
    margin-top: -30px;
}

#arrow {
    color: white;
    width: 250px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    margin-left: 40px !important;
}

.arrow_container {
    background-color: #0a0a0a;
    padding: 15px 0;
    padding-left: 0px;
}

.arrow_container:hover {
    filter: brightness(95%);
}

#arrow::before {
    content: '';
    height: 1px;
    background: #fff;
    width: 4em;
    display: block;
    position: absolute;
    height: 2px;
    margin-left: -60px;
    margin-top: 7px;
}

#arrow_icon span {
    background-image: url("../img/turn_around.png");
    background-size: cover;
    width: 30px;
    height: 26px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}

/************************** TOOL TIP START **************************/

#product_info .tooltiptext h3 {
    color: #000;
    font-size: 18px !important;
    margin-bottom: 5px !important;
    margin-top: 0;
    text-transform: uppercase;
}

.tooltip img {
    width: 2.5%;
    height: auto;
    z-index: 1;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
    position: absolute;
}

.tooltiptext {
    z-index: 5;
    font-size: 12px;
    position: absolute;
    width: 300px;
    color: #fff;
    -webkit-box-shadow: 10px 10px 23px -14px rgba(212, 212, 212, 1);
    -moz-box-shadow: 10px 10px 23px -14px rgba(212, 212, 212, 1);
    box-shadow: 10px 10px 23px -14px rgba(212, 212, 212, 1);
}

/************************** FRONT TOOL TIP **************************/

.tooltip1 img {
    top: 128px;
    left: 55px;
    cursor: pointer;
}

.tooltip1 .tooltiptext {
    top: 40px;
    left: 10px;
    background-color: #fff;
    padding: 25px;
}

.tooltip2 img {
    top: 340px;
    left: 28px;
    cursor: pointer;
}

.tooltip2 .tooltiptext {
    top: 350px;
    left: 20px;
    background-color: #fff;
    padding: 25px;
}

.tooltip3 img {
    top: 120px;
    left: 498px;
    cursor: pointer;
}

.tooltip3 .tooltiptext {
    top: 50px;
    left: 480px;
    background-color: #fff;
    padding: 25px;
}

.tooltip4 img {
    top: 300px;
    left: 510px;
    cursor: pointer;
}

.tooltip4 .tooltiptext {
    top: 350px;
    left: 500px;
    background-color: #fff;
    padding: 25px;
}

.tooltip5 img {
    top: 430px;
    left: 200px;
    cursor: pointer;
}

.tooltip5 .tooltiptext {
    top: 400px;
    left: 260px;
    background-color: #fff;
    padding: 25px;
}

/************************** BACK TOOL TIP **************************/

.tooltip6 img {
    top: 290px;
    left: 200px;
    cursor: pointer;
}

.tooltip6 .tooltiptext {
    top: 55px;
    left: -50px;
    background-color: #fff;
    padding: 25px;
}

.tooltip7 img {
    top: 250px;
    left: 556px;
    cursor: pointer;
}

.tooltip7 .tooltiptext {
    top: 100px;
    left: 430px;
    background-color: #fff;
    padding: 25px;
}

.tooltip8 img {
    top: 385px;
    left: 400px;
    cursor: pointer;
}

.tooltip8 .tooltiptext {
    top: 410px;
    left: 430px;
    background-color: #fff;
    padding: 25px;
}

/************************** Animation **************************/

.fade {
    animation: fade 1s;
    animation-iteration-count: 1;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
        border-radius: 100px;
    }

    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        border-radius: 100px;
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        border-radius: 100px;
    }
}

@keyframes pulse_slow {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

@keyframes fade {
    0% {
        Opacity: 40%
    }

    100% {
        opacity: 100%;
    }
}

.logo_column {
    text-align: center;
}

/*============================================================================================*/
/* Speakermap mediaqueries */
/*============================================================================================*/

@media (max-width: 700px) {

    #speaker_map_section {
        padding-bottom: 2em;
        display: none;
    }

    .speaker_map_wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .speaker_map_front {
        background-image: none;
        width: 300px;
        height: 400px;
        padding-left: 1.2em;

        flex-grow: 1;
        flex-basis: 300px;
    }

    .speaker_map_back {
        background-image: none;

        width: 300px;
        height: 230px;
        padding-left: 1.2em;

        position: relative;

        flex-grow: 1;
        flex-basis: 300px;
    }

    #arrow {
        display: none
    }

    .tooltip img {
        position: static;
        display: none;
    }

    .tooltiptext {
        position: static;
        padding-bottom: 1em;
    }

    .bottom_bar {
        display: none;
    }

}

#iconbox {
    padding: 40px 0;
    padding-bottom: 0;
}

#iconbox .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 50px;
    text-align: center;
    margin-bottom: 30px;
}

#iconbox .column {
    padding: 0 50px;
}

#iconbox img {
    margin-bottom: 20px;
}

#iconbox h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

#iconbox p {
    font-size: 14px;
}

/*============================================================================================*/
/* Produktside */
/*============================================================================================*/

.subheader {
    width: 100%;
    height: 300px;
    background-image: url("../img/subheader.PNG");
    background-size: cover;
    background-position: top;
    position: relative;
}

#product .product_price {
    margin: 20px 0;
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: left;
}

#product button {
    margin-top: -50px;
    border-radius: 0;
    cursor: pointer;
}

#product .row {
    display: block;
    padding: 25px;
}

#product .column {
    margin-bottom: 35px;
}

#product .product_img {
    width: 100%;
    background-color: #f5f5f5;
}

#product h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
}

#product h1 {
    font-family: 'Abel', sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 15px;
    text-transform: uppercase;
}

#product p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    margin-top: 15px;
}

.materials {
    margin: 40px 0;
}

.greb div {
    margin-bottom: 5px;
    display: inline-block;
}

.greb_container {
    display: inline-block;
}

.greb p {
    display: inline-block;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 13px !important;
    letter-spacing: 1px;
}

.greb img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.material_box {
    background-color: #0a0a0a;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    position: absolute;
    margin-left: 25px;

}

.ramme div {
    margin-bottom: 5px;
    display: inline-block;
}

.ramme p {
    display: inline-block;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 13px !important;
    letter-spacing: 1px;
}

.ramme img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.ramme_container {
    display: inline-block;
    cursor: pointer;
}

.topbund p {
    display: inline-block;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 13px !important;
    letter-spacing: 1px;
}

.topbund div {
    margin-bottom: 5px;
    display: inline-block;
}

.topbund img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.topbund_container {
    display: inline-block;
    cursor: pointer;
}

.basport div {
    margin-bottom: 5px;
    display: inline-block;
}

.basport p {
    display: inline-block;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 13px !important;
    letter-spacing: 1px;
}

.basport img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.basport_container {
    display: inline-block;
    cursor: pointer;
}

#product .button {
    padding: 12px 50px;
    background-color: #0a0a0a;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
}

#product_description {
    background-color: #f5f5f5;
}

#product_description .row {
    display: block;
    padding: 25px;
}

#product_description .heading {
    padding-top: 50px !important;
}

#product_description .row:last-child {
    display: flex;
    flex-wrap: wrap-reverse;
}

#product_description img {
    width: 100%;
}

#product_description .column {
    margin-bottom: 30px;
}

#product_description h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
}

#product_description h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 25px;
}

#product_description p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}

/*============================================================================================*/
/* Indkøbskurv */
/*============================================================================================*/

#basket .row {
    display: block;
    padding: 25px;
    margin-bottom: 150px;
}

#basket .column {
    margin-bottom: 35px;
}

#basket .product_text h3 {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}

#basket h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 500;
}

#basket h1 {
    font-family: 'Golden Ranger', cursive;
    text-transform: lowercase;
    font-weight: 200;
    font-size: 60px;
    margin-bottom: 15px;
}

#basket p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}

#basket .product_basket {
    display: inline-block;
}

.product_basket img {
    width: 50px;
    height: 50px;
    background-color: #f5f5f5;
    display: inline-block;
    margin-right: 15px;
    margin-top: 20px;
}

.product_text {
    display: inline-block;
}

#basket .sidebar {
    background-color: #0a0a0a;
}

#basket .sidebar_text {
    padding: 25px;
    color: #fff !important;
}

#basket .sidebar_text p {
    color: #fff !important;
}

#basket .back_link a {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    width: 50px;
    display: block;
    white-space: nowrap;
    padding: 1em 0 1em 0;
    text-indent: -3em;
    word-spacing: 0em;
    text-decoration: none;
    position: relative;
    color: #fff;
    margin-left: 194px;
    margin-bottom: 20px;
}

#basket .back_link a::before {
    background: #fff;
}

#basket .sidebar span {
    display: inline-block;
}

#basket .sidebar p {
    display: inline-block;
}

.sidebar_price {
    float: right;
    margin-top: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.basket_price {
    position: relative;
    float: right;
    margin-top: -25px;
}

.total {
    margin-top: 30px;
}

.total p {
    font-weight: 700 !important;
    font-size: 17px !important;
}

.total span {
    font-weight: 700 !important;
    font-size: 17px !important;
}

#basket button {
    width: 100%;
    border-radius: 0;
    padding: 12px 45px;
    cursor: pointer;
}

.basket_price {
    font-family: 'Abel', sans-serif;
    font-size: 22px;
}

hr {
    color: #000;
    opacity: 0.1;
    margin-top: 5px;
}

.basket_icon {
    background-image: url("../img/basket.png");
    background-size: cover;
    position: absolute;
    top: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.basket_link {
    width: 30px;
    height: 30px;
}

/*============================================================================================*/
/* Checkout */
/*============================================================================================*/

#checkout .form_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#checkout .form_column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

#checkout form {
    margin-right: 15px;
}

#checkout input {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ebebeb;
    background-color: #f5f5f5;
    font-size: 13px;
}

#checkout .delivery_text h3 {
    font-size: 18px;
    font-family: 'Abel', sans-serif;
}

#checkout .delivery p {
    color: #000 !important;
    font-size: 13px;
}

.delivery {
    margin-top: 25px;
}

.delivery_inner {
    margin-top: 25px;
    padding: 25px;
    border: 1px solid #ebebeb;
    cursor: pointer;
    margin-right: 15px;
}

.delivery img {
    width: 90px;
    height: 90px;
    display: inline-block;
    margin-right: 25px;
    position: relative;
}

.delivery_text {
    display: inline-block;
    position: absolute;
    margin-top: 25px;
}

#checkout .sidebar {
    background-color: #0a0a0a;
}

#checkout .sidebar_text {
    padding: 25px;
    color: #fff !important;
}

#checkout .back_link a {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    width: 50px;
    display: block;
    white-space: nowrap;
    padding: 1em 0 1em 0;
    text-indent: -3em;
    word-spacing: 0em;
    text-decoration: none;
    position: relative;
    color: #fff;
    margin-left: 194px;
    margin-bottom: 20px;
}

#checkout .back_link a::before {
    background: #fff;
}

.sidebar h2 {
    font-family: 'Abel', sans-serif;
    font-size: 22px;
    margin-bottom: 45px;
}

#checkout .row {
    display: block;
    padding: 25px;
    margin-bottom: 150px;
}

#checkout .sidebar_price {
    float: right;
    margin-top: -22px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

#checkout h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #000 !important;
}

#checkout .sidebar h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #fff !important;
}

#checkout h1 {
    font-family: 'Golden Ranger', cursive;
    text-transform: lowercase;
    font-weight: 200;
    font-size: 60px;
    margin-bottom: 15px;
}

#checkout p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #fff !important;
}

/*============================================================================================*/
/* Order */
/*============================================================================================*/

#order .sidebar {
    text-align: right;
}

.product_order img {
    width: 75px;
    height: 75px;
    background-color: #f5f5f5;
    display: inline-block;
    margin-right: 15px;
    margin-top: 20px;
}

#order .product_order {
    display: inline-block;
}

#order .product_text {
    position: relative;
    top: -20px !important;
}

#order .row {
    display: block;
    padding: 25px;
    margin-bottom: 50px;
}

.summary_row {
    display: block;
    padding: 25px;
    margin-bottom: 150px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #f5f5f5;
}

#order .column {
    margin-bottom: 35px;
}

#order .product_text h3 {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 500;
}

#order h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 500;
    text-transform: uppercase;
}

.amount {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px !important;
    margin-bottom: 5px;
    font-weight: 500;
    text-transform: uppercase;
}

#order h2 {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 40px;
    margin-bottom: 15px;
}

#order p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}

#order .icon_order {
    float: right;
    margin-right: 50px;
    margin-top: -25px;
    width: 120px;
    height: 120px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    transform: scale(0.5);
    animation: pulse 2s infinite;
    animation-timing-function: linear;
}

/*============================================================================================*/
/* Stories */
/*============================================================================================*/

#inspiration h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    margin-top: 45px;
}

#blog_wordpress {
    background-color: #f5f5f5;
}

.retter img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#blog img {
    width: 100%;

}

#blog .row {
    display: block;
    margin-bottom: 20px;
    padding: 25px;
}

#blog .blog_text {
    position: absolute;
    color: #fff;
    margin-top: -80px;
    margin-left: 25px;
    cursor: pointer;
    background-color: #0a0a0a;
    padding: 25px;
}

.blog_text p {
    color: #fff;
    margin-top: 5px;
}

#blog .date {
    margin-top: -52px;
    margin-left: 570px;
    color: #fff !important;
    position: absolute;
    z-index: 5;
    cursor: pointer;
    letter-spacing: 1px;
    font-family: 'Abel', sans-serif;
}

.filter_nav {
    display: none;
}

.ret {
    cursor: pointer;
    padding: 25px;
    position: relative;
    margin-bottom: 50px;
}

.ret h2 {
    font-size: 18px;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.ret p {
    font-size: 15px;
    margin-top: 5px;
    color: #fff;
}

.ret_tekst {
    margin-top: -80px;
    margin-left: 25px;
    position: absolute;
    background-color: #0a0a0a;
    padding: 25px;
}

#blog .back_link a::before {
    content: '';
    height: 1px;
    background: #000;
    width: 4em;
    display: block;
    position: absolute;
    height: 2px;
    top: 1.7em;
}

#blog .back_link a {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    width: 50px;
    display: block;
    white-space: nowrap;
    padding: 1em 0 1em 0;
    text-indent: -3em;
    word-spacing: 0em;
    text-decoration: none;
    position: relative;
    color: #0a0a0a;
    margin-left: 104px;
    margin-bottom: 20px;
}

.subheader_title {
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: -150px;
    position: relative;
    z-index: 200;
    color: #fff;
    text-align: center;
    cursor: default;
    margin-bottom: 55px;
}


/*============================================================================================*/
/* Om os */
/*============================================================================================*/

#video_about {
    width: 100%;
    height: 400px;
    position: static;
}

#video .row {
    display: block;
    padding: 25px;
}

#about .row {
    display: block;
    padding: 25px;
}

#about .column {
    margin-bottom: 35px;
}

#about img {
    width: 100%;
}

#about h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
}

#about h1 {
    font-family: 'Golden Ranger', cursive;
    text-transform: lowercase;
    font-weight: 200;
    font-size: 60px;
    margin-bottom: 15px;
}

#about p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}

#about_description {
    background-color: #f5f5f5;
}

#about_description .row {
    display: block;
    padding: 25px;
}

#about_description .row:last-child {
    display: flex;
    flex-wrap: wrap-reverse;
}

#about_description img {
    width: 100%;
}

#about_description .column {
    margin-bottom: 30px;
}

#about_description h2 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
}

#about_description h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 25px;
}

#about_description p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}

#video .row {
    padding: 25px;
    text-align: center;
}

#video .flex {
    text-align: left;
}

#video .back_link {
    text-align: center;
    margin-top: 20px;
    margin-left: -40px;
    display: inline-block;
}

#video .back_link a {
    color: #000 !important;
    margin-left: 145px;
    line-height: 20px;
    word-spacing: 0em;
}

#video .back_link a::before {
    content: '';
    height: 1px;
    background: #000;
    width: 4em;
    display: block;
    position: absolute;
    height: 2px;
    top: 1.7em;
}

.about_heading {
    margin-bottom: 50px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.about_heading h2 {
    max-width: 700px;
    text-align: center;
    margin: 40px 0;
}

#blog .back_link {
    margin-top: 20px;
}

/*============================================================================================*/
/* Kontakt os */
/*============================================================================================*/

#contact .contact_text {
    position: absolute;
    color: #fff;
    margin-top: -80px;
    margin-left: 25px;
    cursor: pointer;
    background-color: #0a0a0a;
    padding: 25px;
}

.contact_text p {
    color: #fff;
    margin-top: 5px;
}

#contact .row {
    display: block;
    padding: 25px;
}

#contact .column {
    margin-bottom: 35px;
}

#contact img {
    width: 100%;
}

#contact .contact_text img {
    width: 40px;
    height: 40px;
    display: inline-block !important;
    margin-right: 10px;
    margin-left: 10px;
}

#contact h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
}

#contact h1 {
    font-family: 'Golden Ranger', cursive;
    text-transform: lowercase;
    font-weight: 200;
    font-size: 60px;
    margin-bottom: 15px;
}

#contact p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}

/*============================================================================================*/
/* FOOTER */
/*============================================================================================*/

footer {
    padding: 50px 0;
    background-color: transparent;
    color: #000;
}

footer p {
    opacity: 0.8;
    font-size: 13px;
}

footer .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 4em;
    padding: 25px;
}

footer h3 {
    font-size: 13px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #0a0a0a;
}

.align-right {
    text-align: right;
}

.bottom_bar {
    background-color: #f5f5f5;
}

.bottom_bar .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(520px, 1fr));
    grid-gap: 0em;
    padding: 25px;
    font-size: 13px;
}

.contact_list {
    margin-top: 35px;
    font-size: 14px;
}

.contact_list ul {
    list-style: none;
    margin-left: -35px;
}

.li1 {
    background: url('../img/phone.png') no-repeat no-repeat;
    padding-left: 40px;
    padding-bottom: 20px;
    cursor: pointer;

}

.li2 {
    background: url('../img/address.png')no-repeat no-repeat;
    padding-left: 40px;
    padding-bottom: 20px;
    cursor: pointer;

}

.li3 {
    background: url('../img/mail.png')no-repeat no-repeat;
    padding-left: 40px;
    padding-bottom: 20px;
    cursor: pointer;
}

footer ul {
    list-style: none;
    padding-left: 0;
    font-size: 13px;
}

footer h3 {
    padding-bottom: 10px;
    letter-spacing: 1.5px;
}

.quicklinks li {
    padding-bottom: 20px;
}

.quicklinks a {
    text-decoration: none;
    color: #444444;
}

/*============================================================================================*/
/* MEDIAQUERIES */
/*============================================================================================*/

/* MAX-WIDTH 540px ========================= */

@media (max-width: 540px) {

    #iconbox .row {
        display: block;
    }

    #iconbox .column {
        margin-bottom: 65px;
    }

    .video-text h1 {
        font-size: 60px;
        margin-top: 15px;
        margin-bottom: 35px !important;
    }
}

/* MAX-WIDTH 480px ========================= */

@media only screen and (max-width: 480px) {
    .main-menu {
        width: 100%;
    }

    .map-box {
        width: 300px !important;
    }

    .gallery-cell {
        width: 70%;
        height: 250px;
        margin-right: 20px;
        margin-left: 20px;
        counter-increment: gallery-cell;
    }

    .hide-mobile {
        display: none;
    }

}

/* MAX-WIDTH 768px ========================= */

@media only screen and (max-width: 768px) {
    .gallery-cell {
        width: 70%;
        height: 300px;
        margin-right: 20px;
        margin-left: 20px;
        counter-increment: gallery-cell;
    }

    .gallery-cell {
        margin-top: 110px;
    }

    #header-video {
        background-image: url("../img/poster.jpg");
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 600px;
    }

    #videoBG {
        display: none;
    }

    .about_heading {
        margin-bottom: 0;
    }

    #video .flex h3 {
        margin: 0;
    }

}

/* MIN WIDTH 769px ========================= */

@media only screen and (min-width: 769px) {
    .gallery-cell img {
        width: 80%;
        position: absolute;
        margin-top: -20%;
    }

    .gallery-cell {
        margin-bottom: 2%;
    }

    #blog .row {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 5em;
        grid-row-gap: 0px;
    }

}

/* MIN-WIDTH 1485px ========================= */

@media only screen and (min-width: 1485px) {

    .gallery-cell {
        margin-bottom: 8%;
    }
}

/* MIN-WIDTH 480px ========================= */

@media only screen and (min-width: 480px) {
    #intro .row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 5em;
        padding: 25px;
        padding-bottom: 15px;
    }

    #behindthescenes .row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 5em;
        padding: 50px 25px;
    }

    #product_info .row {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 5em;
        grid-row-gap: 0px;
    }


    #video .row {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 3em;
        grid-row-gap: 0px;
        padding-top: 0;
        padding-bottom: 0;
    }

    #about_description .sectionwrapper {
        padding-top: 0;
    }


    #product .row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 5em;
        padding: 25px;
        padding-bottom: 0;
    }

    #product_description .row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 9em;
        padding: 25px;
        margin-bottom: 50px;
    }

    #product_description .row:last-child {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 9em;
        padding: 25px;
    }

    #product_description h2 {
        margin-top: 50px;
    }

    #about_description .row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 9em;
        padding: 25px;
        margin-bottom: 50px;
    }

    #about_description .row:last-child {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 2em;
        padding: 25px;
        padding-top: 0;
    }

    #about_description h2 {
        margin-top: 50px;
    }

    .heading {
        padding-top: 0;
    }

    #about .row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 5em;
        padding: 25px;
    }

    #contact .row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 5em;
        padding: 25px;
    }

    #basket .row {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 5em;
        grid-row-gap: 0px;
    }

    .summary_row {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-column-gap: 5em;
        grid-row-gap: 0px;
    }

    #order .row {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 5em;
        grid-row-gap: 0px;
    }

    #checkout .row {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 5em;
        grid-row-gap: 0px;
    }

    .basket_price {
        position: relative;
        float: right;
        margin-top: -45px;
        margin-right: 20px;
    }


}

/* MIN-WIDTH 991px ========================= */

@media only screen and (min-width: 991px) {

    .summary_row {
        padding: 50px;
    }

    .slide_billede {
        width: 300px;
        object-fit: cover;
    }

    #carousel .sectionwrapper {
        max-width: none;
        padding: 0;
    }

    footer .row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-gap: 4em;
        padding: 25px;
    }

    #intro .column:first-child {
        margin-top: 20px;
    }

    #intro .column:last-child {
        margin-right: 0px;
    }

    #intro img {
        position: relative;
        z-index: 300;
    }

    #carousel {
        padding: 115px 0px;
        background: rgb(31, 31, 31);
        background: -moz-linear-gradient(0deg, rgba(31, 31, 31, 1) 0%, rgba(46, 46, 46, 1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(31, 31, 31, 1) 0%, rgba(46, 46, 46, 1) 100%);
        background: linear-gradient(0deg, rgba(31, 31, 31, 1) 0%, rgba(46, 46, 46, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f1f1f", endColorstr="#2e2e2e", GradientType=1);
        padding-bottom: 40px;
    }
}

/* MAX-WIDTH 480px ========================= */

@media only screen and (max-width: 1600px) {

    #header-video video {
        width: 1920px;
        height: auto;
    }

    .icon_order {
        margin-top: -70px !important;
        margin-right: 30px !important;
    }

    .summary_row {
        margin-top: -100px;
        margin-bottom: 5px;
    }

    .summary_row div {
        margin-bottom: 25px;
    }


}

/* MAX-WIDTH 991px ========================= */

@media only screen and (max-width: 991px) {
    #header_menu {
        display: block;
        text-align: center;
        position: relative;
        padding: 30px 0 25px 0;
        background-color: #333F78;
    }

    #header_menu a.open_close {
        position: absolute;
        right: 15px;
        top: 0;
        left: inherit;
        color: #fff !important;
    }

    .main-menu ul li a:hover,
    a.show-submenu:hover {
        color: #333F78 !important;
        background-color: #f9f9f9;
        opacity: 1 !important;
    }

    .main-menu ul li {
        border-top: none;
        border-bottom: 1px solid #ededed;
        color: #fff;
    }

    /* Menu mobile first level */
    .main-menu ul li a {
        padding: 15px !important;
    }

    .main-menu li,
    .main-menu a {
        display: block;
        color: #333 !important;
    }

    .main-menu li {
        position: relative;
    }

    .main-menu ul > li {
        padding-bottom: 0;
    }

    .main-menu ul > li i {
        float: right;
    }

    .main-menu > ul > li.submenu:hover > a:after {
        color: #333F78;
    }

    .main-menu ul > li.submenu > a:after {
        font-size: 1rem;
        content: ">";
        color: #444;
        font-weight: 100;
        line-height: 1;
        float: right;
        display: inline-block;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    /* Menu mobile second level */
    .main-menu ul li.submenu ul {
        border-left: 1px solid #ededed;
        margin: 0 0 10px 25px;
    }

    .main-menu ul li.submenu ul li {
        border: 0;
        font-size: 13px;
        font-size: 0.8125rem;
    }

    /* Menu mobile 3rd level */
    .main-menu ul li.submenu ul ul {
        border-left: none;
        margin: 0 0 0 15px;
    }

    /* Menu mobile left panel */
    .main-menu {
        background-color: #fff;
        overflow-y: scroll;
        transform: translateX(-102%);
        top: 0;
        left: 0;
        bottom: 0;
        width: 55%;
        height: 100%;
        position: fixed;
        z-index: 10;
        -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
        -moz-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
        -ms-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
        -o-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
        transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    }

    .main-menu.show {
        transform: translateX(0);
    }

    .main-menu .show-submenu + ul {
        display: none;
        visibility: hidden;
    }

    .main-menu a.show-submenu + ul.show_normal {
        display: block;
        visibility: visible;
    }
}

/* MIN-WIDTH 1200px ========================= */

@media only screen and (min-width: 1200px) {
    .gallery-cell {
        margin-bottom: 2%;
        margin-top: 4%;
    }

    .gallery-cell {
        width: 56%;
        height: 400px;
        margin-right: 20px;
        counter-increment: gallery-cell;
    }
}

/* MIN-WIDTH 992px ========================= */

@media only screen and (min-width: 992px) {

    #season {
        padding: 50px;
    }

    .main-menu {
        width: auto;
    }

    .main-menu a {
        white-space: nowrap;
    }

    .main-menu ul li {
        display: inline-block;
    }

    .main-menu ul li.submenu:hover > a:before,
    .main-menu ul li.submenu:hover > a:after {
        bottom: -10px;
        opacity: 0;
    }

    .main-menu ul ul {
        position: absolute;
        border-top: 2px solid #333F78;
        z-index: 1;
        visibility: hidden;
        left: 3px;
        top: 100%;
        margin: 0;
        display: block;
        padding: 0;
        background: #fff;
        min-width: 210px;
        -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.175);
        -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.175);
        box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.175);
        transform: scale(0.4);
        transform-origin: 10% top;
        transition: 0.15s linear, 0.1s opacity cubic-bezier(0.39, 0.575, 0.565, 1), 0.15s transform cubic-bezier(0.1, 1.26, 0.83, 1);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        opacity: 0;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .main-menu ul ul:before {
        bottom: 100%;
        left: 12%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #333F78;
        border-width: 7px;
        margin-left: -7px;
    }

    .main-menu ul li:hover > ul {
        padding: 0;
        visibility: visible;
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
        -webkit-transition-duration: 0s, 0.2s, 0.2s;
        transition-duration: 0s, 0.2s, 0.2s;
    }

    .main-menu ul ul li {
        display: block;
        height: auto;
        padding: 0;
    }

    .main-menu ul ul li a {
        font-size: 13px;
        font-size: 0.8125rem;
        color: #444;
        text-decoration: none;
        border-bottom: 1px solid #ededed;
        display: block;
        padding: 12px 15px;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .main-menu ul ul li:last-child a {
        border-bottom: none;
    }

    .main-menu ul ul li:first-child a:hover {
        -webkit-border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        -ms-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
    }

    .main-menu ul ul li:last-child a {
        border-bottom: none;
    }

    .main-menu ul ul li:last-child a:hover {
        -webkit-border-radius: 0 0 3px 3px;
        -moz-border-radius: 0 0 3px 3px;
        -ms-border-radius: 0 0 3px 3px;
        border-radius: 0 0 3px 3px;
    }

    .main-menu ul ul li:hover > a {
        background-color: #f9f9f9;
        color: #333F78;
        padding-left: 18px;
    }

    .main-menu ul ul li.third-level > a {
        font-weight: normal !important;
    }

    .main-menu ul ul li.third-level > a:hover {
        background-color: #f9f9f9;
        color: #333F78;
        padding-left: 18px;
        opacity: 1;
    }

    .main-menu ul ul li.third-level > a:after {
        content: ">";
        float: right;
        font-size: 12px;
        margin-top: -2px;
    }

    .main-menu ul ul ul {
        position: absolute;
        border-top: 0;
        z-index: 1;
        height: auto;
        left: 100%;
        top: 0;
        margin: 0;
        padding: 0;
        background: #fff;
        min-width: 190px;
        -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.175);
        -moz-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.175);
        box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.175);
    }

    .main-menu ul ul ul:before {
        border-width: 0;
        margin-left: 0;
    }

}

/* MAX-WIDTH 1200px ========================= */

@media (max-width: 1200px) {
    #logo {
        float: none;
        text-align: center;
    }

    .main-menu {
        display: none;
    }

    #burger-menu {
        display: block;
        float: right;
    }

    #openbtn {
        display: block;
    }

    #local-burger-menu {
        display: block;
        float: right;
    }

    #openbtn {
        display: block;
    }
}

/* MIN-WIDTH 900px ========================= */

@media (min-width: 900px) {

    .logo_normal {
        margin-top: 5px;
        margin-left: 5px;
    }

    .sectionwrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 25px;
    }

    .shadow {
        -webkit-box-shadow: -4px -2px 39px -40px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: -4px -2px 39px -40px rgba(0, 0, 0, 0.5);
        box-shadow: -4px -2px 39px -40px rgba(0, 0, 0, 0.5);
    }

    .last_shadow {
        -webkit-box-shadow: 0px 72px 39px -24px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: 0px 72px 39px -24px rgba(0, 0, 0, 0.33);
        box-shadow: 0px 72px 39px -24px rgba(0, 0, 0, 0.33);
    }

    #intro .sectionwrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 25px;
        margin-top: -100px;
        position: relative;
        z-index: 200;
        background-color: #fff;
        padding-bottom: 0px;
        margin-bottom: -50px;
    }

    #checkout .sectionwrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 25px;
        margin-top: -100px;
        position: relative;
        z-index: 200;
        background-color: #fff;
    }

    #basket .sectionwrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 25px;
        margin-top: -100px;
        position: relative;
        z-index: 200;
        background-color: #fff;
    }

    #order .sectionwrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 25px;
        margin-top: -100px;
        position: relative;
        z-index: 200;
        background-color: #fff;
    }

    #blog .sectionwrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 25px;
        margin-top: -100px;
        position: relative;
        z-index: 200;
        background-color: #fff;
    }

    #product .sectionwrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 25px;
        margin-top: -100px;
        position: relative;
        z-index: 200;
        background-color: #fff;
        margin-bottom: -50px;
        padding-bottom: 0;
    }

    #about .sectionwrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 25px;
        margin-top: -100px;
        position: relative;
        z-index: 200;
        background-color: #fff;
        padding-bottom: 0;
    }

    #basket .column:first-child {
        margin-top: -25px;
    }

    #contact .sectionwrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 25px;
        margin-top: -100px;
        position: relative;
        z-index: 200;
        background-color: #fff;
    }

    #about .row {
        margin-top: -80px;
    }


    #order .row {
        margin-top: -80px;
    }

    #checkout .row {
        margin-top: -80px;
    }

    #basket .row {
        margin-top: -80px;
    }


    #contact .row {
        margin-top: -80px;
    }

    #product .row {
        margin-top: -80px;
    }

    #blog .row {
        margin-top: -80px;
    }

    .subheader_title {
        padding: 25px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        margin-top: -150px;
        margin-bottom: 140px;
        color: #fff;
        text-align: center;
        cursor: default;
    }

    .retter {
        max-width: 1200px;
        margin: 0 auto;
        padding: 25px;
        padding-top: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-gap: 10px;
        margin-top: -80px;
    }

    .subheader h1 {
        padding-top: 150px;
        font-size: 40px;
    }
}

/* MAX-WIDTH 600px ========================= */

@media (max-width: 600px) {
    .gallery-cell img {
        width: 130%;
    }

    .gallery-cell {
        margin-top: 20px;
    }

}
